* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1000px) {
  .about {
    padding-top: 10rem;
    zoom: 65%;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1090px) {
  /* .pawprints {
  visibility: hidden; */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */

:root {
  --primary-color: #ffed66;
  --secondary-color: #00cecb;
  --accent-color: #ffed66;
  --button-color: #ff5e5b;
  --boxshadow-color: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
  font-size: 6.5rem;
}

p {
  font-family: "Montserrat", sans-serif;
}

.aboutme {
 align-items: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
  height: 40rem;
  font-size: 1.5rem;
  
}

.about img {
  padding-right: 2rem;
}

.igfeed {
  height: 35rem;
  margin: auto auto;
}

.fillerstat {
  padding: 2.5rem;
  margin: 2rem auto;
  background-color: var(--secondary-color);
  width: 43rem;
  height: 10rem;
  border-radius: 2rem;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  box-shadow: var(--boxshadow-color);
}

.biscuit1 {
  max-height: 40rem;
  position: absolute;
  float: center;
  clear: both;
}

.contact {
  max-width: 50rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  font-size: 1.75rem;

}

.hero {
  margin-bottom: 10rem;
  height: 40rem;
  font-size: 1.75rem;
}

.services-offered {
  margin-top: 5rem;
  background-color: var(--secondary-color);
  color: white;
  font-weight: bolder;
  text-align: center;
  border-radius: 2rem;
  box-shadow: var(--boxshadow-color);
}
.services {
  height: 30rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
  font-size: 1.75rem;
}

.about-services {
  padding-right: 6rem;
  text-align: right;
}

.servicesimg {
  height: 25rem;
  width: 25rem;
}

.services-offered {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  height: 10rem;
}

.opening-image {
  background-color: var(--primary-color);
  max-height: 35rem;
}

.pawprints {
  max-height: 40rem;
  float: right;
}

.work {
  font-size: 1.75rem;
  height: 30rem;
  margin-top: 10rem;
}

.btn {
  margin: 0 auto;
  font-family: "Bebas Neue", cursive;
  font-weight: 135;
  font-size: 2.5rem;
  color: #fff;
  background-color: var(--button-color);
  padding: 10px 30px;
  border: solid var(--button-color) 2px;
  box-shadow: var(--boxshadow-color);
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: var(--button-color);
  color: #ffffff;
  border: solid 2px var(--button-color);
}

footer {
  margin-top: 5rem;
  padding-top: 4rem;
  font-size: 2.3rem;
  background-color: var(--primary-color);
  height: 15rem;
  text-align: center;
}

.fa-brands:hover {
zoom:200%;
}